<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/Client/Public/css/global.css">
    <link rel="stylesheet" href="/Client/Public/css/home.css">
</head>

<body>
    <div class="navBar">
        <ul>
            <li><a href="#" class="active" onclick="navigateToHome()">Home</a></li>
            <li><a href="#" onclick="navigateToRegistration()">Registration</a></li>
            <li><a href="#" onclick="navigateToProfile()">Profile</a></li>
            <li><a href="#"  id="LogInOut" onclick="LogInOut()">Login</a></li>
        </ul>
    </div>
    
    <section class="homeTitle center">
        <h1 id="title" class="center">The Space Spiers</h1>
        <h2 class="wideLetter">INTERNATIONAL SPACE STATION'S LOCATION</h2>
        <p class="opacity"><i>Spy on the Space Station</i></p>
        <p class="justifyText">
          Have you wondered, what are the astronaughts are seeing?,or have you just been curious
          on where the International Space Station is? Well with Space Spiers that infomation is at the grasp of your fingertips.
          With Space Spiers you'll be able to get realtime information on where the International Space Station currently is. So 
          make a account and explore all we have to offer here on The Space Spiers!
        </p>
      </section>
    <script src="/Client/Public/js/global.js"></script>
    <script src="/Client/Public/js/home.js"></script>

</body>

</html>