<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="/Client/Public/css/global.css">
    <link rel="stylesheet" href="/Client/Public/css/index.css">
</head>

<body>
    <div class="splashScreen">
        <h1 id="title" class="center">The Space Spiers</h1>
        <h3 id="slogan" class="center">Spying on the Space Station</h3>
        <section>
            <img class="mySlides" src="/Client/Public/images/space1.jpg">
            <img class="mySlides" src="/Client/Public/images/space2.jpg">
            <img class="mySlides" src="/Client/Public/images/space3.jpg">
          </section>
        <p id="spaceBar" onclick="spaceBar()">Click The Spacebar To Continue</p>
    </div>
    
    <script src="/Client/Public/js/global.js"></script>
    <script src="/Client/Public/js/index.js"></script>
</body>

</html>